body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 2em auto;
}

.item {
  background: #fafafa;
  width: 95%;
  height: 70%vh;
  margin: 1em 0 0 0;
  border: 1px solid #000000;
  padding: 1em;
  overflow-y: auto;
  overflow-x: auto;
}

textarea {
  background: #fafafa;
  margin: 0;
  padding: 0;
  border: none;
  resize: none;
  width: 100%;
  height: 555px;
}


@media (min-width: 750px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .item {
    margin: 0.5em
  }
}